* {
  margin: 0;
  padding: 0;
  font-family: "Norms","Segoe UI";
}

body {
  background-color: #282C34 !important;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
}

main {
  width: calc(100vw - 350px);
  background-color: #282c34;
}


.pageBack {
  transform: scale(0.95);
  animation: pageBack .5s ease;
}

.pageFor {
  animation: pageFor .5s ease;
}

#place_taker {
  width: 350px;
  background-color: #21252b;
}


.openlink {
  cursor: alias;
}


@keyframes pageBack {
  from {
    transform: scale(1);
    // opacity: 0;
    overflow: hidden;
  }

  to {
    transform: scale(0.95);
    // opacity: 1;
    overflow: hidden;
  }
}

@keyframes pageFor {
  from {
    transform: scale(0.95);
    // opacity: 0;
    overflow: hidden;
  }

  to {
    transform: scale(1);
    // opacity: 1;
    // overflow: hidden;
  }
}




/*
@font-face {
  font-family: "Norms";
  src: url("../fonts/ttnorms-default-regular-webfont.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Norms";
  src: url("../fonts/ttnorms-bold-webfont.woff") format("woff");
  font-weight: bold;
}*/
